/* Personaje */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.personaje {
  position: absolute;
  bottom: 9vh;
  height: 45vh;
  width: 29vh;
}

.slide-text {
  white-space: pre-line;
}
