/* Personaje */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.personaje {
  position: absolute;
  bottom: 5vh;
  height: 50vh;
  width: 30vh;
}

.slide-text {
  white-space: pre-line;
}
