<footer class="footer">
  <a [routerLink]="['/home']" class="menu-btn">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" class="icon home-btn"></mat-icon>
  </a>

  <a [routerLink]="['#']" class="menu-btn">
    <mat-icon aria-hidden="false" aria-label="Repeat icon" fontIcon="repeat" class="icon repeat-btn"></mat-icon>
  </a>

  <a [routerLink]="['/activity', 'modulo-6']" class="menu-btn">
      <mat-icon aria-hidden="false" aria-label="Gamepad icon" fontIcon="casino" class="icon gamepad-btn"></mat-icon>
  </a>

  <!-- Contenedor especial para el volumen -->
  <div class="volume-container">

    <a [routerLink]="['#']" class="menu-btn">
      <mat-icon fontIcon="volume_up" class="icon volume-up-btn"></mat-icon>
    </a>

    <!-- Barra de volumen encima -->
    <div *ngIf="showVolumeControl" class="volume-control">
      <input type="range" min="0" max="1" step="0.1" [(ngModel)]="volume" (input)="updateVolume()" orient="vertical" />
    </div>
  </div>
</footer>