/* =========================
   PANTALLA PRINCIPAL
========================= */
.screen {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* =========================
   IMAGEN PERSONAJE
========================= */
.bg-img {
    position: absolute;
    bottom: 20vh;
    left: 0vw;
    height: 55vh;
    width: auto;
    object-fit: contain;
    pointer-events: none;
    z-index: 1;
}

/* =========================
   CONTENIDO CENTRAL
========================= */
.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  padding-top: 15vh;
}

/* =========================
   BOTONES TIPO PILL
========================= */
.pill {
  width: 30vh;
  max-width: 340px;
  padding: 2vh 1vh;

  border-radius: 60px;
  border: none;

  background: #8fbfcd;
  color: #ffffff;

  font-size: 2.2vh;
  font-weight: 700;
  text-align: center;
  line-height: 1.25;

  box-shadow: inset 0 -1vh rgba(0, 0, 0, 0.12);

  cursor: pointer;
  transition: transform 0.1s ease;

  margin-left: 20vh;
}

.pill:active {
  transform: scale(0.97);
}
