/* =========================
   PANTALLA PRINCIPAL
========================= */
.screen {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* =========================
   IMAGEN PERSONAJE
========================= */
.bg-img {
    position: absolute;
    bottom: 24vh;
    right: 0vw;
    height: 50vh;
    width: auto;
    object-fit: contain;
    pointer-events: none;
    z-index: 2;
}

.thought-bubble-image {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  background: #7fbccc;
  border-radius: 3vh;
  padding: 2vh 2.5vh;

  width: fit-content;
  max-width: 32vh;
  margin-top: 10vh;


}

/* Cola del globo */
.thought-bubble-image::after {
  content: "";
  position: absolute;

  bottom: -2.5vh;
  left: 27vh;

  width: 4vh;
  height: 4vh;

  background: #7fbccc;
  border-radius: 0 0 4vh 0;
  transform: rotate(0deg);
}

/* Texto */
.thought-bubble-text {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  background: #7fbccc;
  border-radius: 3vh;
  padding: 2vh 2.5vh;

  width: fit-content;
  max-width: 32vh;
  margin-top: 10vh;


}

.thought-bubble-text::after {
  content: "";
  position: absolute;

  bottom: -2.5vh;
  left: 27vh;

  width: 4vh;
  height: 4vh;

  background: #7fbccc;
  border-radius: 0 0 4vh 0;
  transform: rotate(0deg);
}

.thought-bubble-text p{
  margin: 0;
  line-height: 1.3;
  white-space: normal;
}