<div class="content">

    @if (currentSlide) {
        @switch (currentSlide.type) {

            @case ('text') {
                <app-slide-text-component [slide]="currentSlide"></app-slide-text-component>
            }

            @case ('image') {
             <p>Show image component</p>
            }

            @case ('video') {
            <p>Show video component</p>
            }

            @case ('document') {
            <p>Show document component</p>
            }
        }
    }
    <app-footer></app-footer>
</div>