<div>

    @if (currentSlide) {
        @switch (currentSlide.type) {

            @case ('text') {
                <app-slide-text-component [slide]="currentSlide"></app-slide-text-component>
            }

            @case ('image') {
                <app-slide-image-component [slide]="currentSlide"></app-slide-image-component>
            }

            @case ('video') {
            <p>Show video component</p>
            }

            @case ('document') {
            <p>Show document component</p>
            }
        }
    }
    <div class="content">
        <app-footer></app-footer>
    </div>
</div>