/* Contenedor principal */
.container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.header {
    margin-top: 3vh;
}

.logo {
    height: 10vh;
    max-height: 6vh;
}

/* Personaje */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.personaje {
    height: 40vh;
    height: 50vh;
    width: 30vh;
}


/* Botón */
.button-container {
    margin: 2vh 0;
}

.btn {
  background: linear-gradient(to right, #f2c94c, #f2994a);
  border: none;
  border-radius: 2vh;
  padding: 1vh 3vh;
  font-size: 2.5vh;
  font-weight: bold;
  cursor: pointer;
  color: #004d40;
  animation: scale-up-center 1s ease-in-out infinite;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);  
  }
}

/* Label */
.label-container {
  margin: 2vh 0;
}

.custom-label {
  background: linear-gradient(to right, #66B165, #66B165);
  border-radius: 2vh;
  padding: 1vh 3vh;
  font-size: 2.5vh;
  font-weight: bold;
  color: #004d40;
  font-family: 'Pacifico', cursive;
  display: inline-block;
  text-align: center;
}


.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.name-label {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #f9c74f; /* Amarillo cálido */
  text-align: center;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn-name {
  background: linear-gradient(to right, #f2c94c, #f2994a);
  border: none;
  border-radius: 2vh;
  padding: 1vh 3vh;
  font-size: 2.5vh;
  font-weight: bold;
  cursor: pointer;
  color: #004d40;
  font-family: 'Pacifico', cursive;
}

.btn.confirm {
  color: #4caf50;
  border-color: #4caf50;
}

.btn.cancel {
  color: #e74c3c;
  border-color: #e74c3c;
}

.btn:hover {
  transform: scale(1.2);
}

