/* Contenedor principal */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.header {
    margin-top: 3vh;
}

.logo {
    height: 10vh;
    max-height: 6vh;
}

/* Personaje */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personaje {
    height: 40vh;
    height: 50vh;
    width: 30vh;
}


/* Botón */
.button-container {
    margin: 2vh 0;
}

.btn {
  background: linear-gradient(to right, #f2c94c, #f2994a);
  border: none;
  border-radius: 2vh;
  padding: 1vh 3vh;
  font-size: 2.5vh;
  font-weight: bold;
  cursor: pointer;
  color: #004d40;
  font-family: 'Pacifico', cursive;
  animation: scale-up-center 1s ease-in-out infinite;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);  
  }
}


/* Menú inferior */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vh;
    margin-bottom: 3vh;
}

.icon {
    font-size: 4vh;
    width: 4vh;
    height: 4vh;
    line-height: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.volume-container {
  position: relative;
}

.volume-control {
  position: absolute;
  bottom: 6vh;
  left: 2vh;
  transform: translateX(-1vh);
  
  background: rgba(0, 0, 0, 0.7);
  padding: 0.7vh;
  border-radius: 1vh;
}

.volume-control input[type="range"] {
  writing-mode: bt-lr;  /* vertical */
  -webkit-appearance: slider-vertical; /* Safari/Chrome */
  width: 1vh;
  height: 10vh;
}