:host {
  display: block;
  height: 100vh; // 👈 pantalla completa siempre
  width: 100%;
  overflow: hidden; // 👈 evita scroll raro en transiciones
}

.router-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.router-container > * {
  position: absolute; // 👈 apila las vistas una encima de la otra
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; // 👈 asegura mismo tamaño
}


body {
  background: url('assets/images/fondo.png') no-repeat center center fixed;
  background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
