.screen {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* =========================
   IMAGEN PERSONAJE
========================= */
.tico-img {
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    height: 50vh;
    width: auto;
    z-index: 2;
}

.video-container {
    position: relative;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 50vh;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.thought-bubble-text {
    position: relative;
    background: #7fbccc;
    border-radius: 5vh;
    padding: 3vh 4vh;
    width: 27vh;
    align-self: flex-start; /* Alineado a la izquierda */
    margin-left: 2vh;
    top: 12vh;
    left: 20vh;
}

.thought-bubble-text p {
    color: white;
    font-size: 2.2vh;
    font-weight: bold;
    text-align: center;
    margin: 0;
    line-height: 1.2;
}

.thought-bubble-text::after {
    content: "";
    position: absolute;
    top: -1vh;
    left: -2%;
    width: 4vh;
    height: 4vh;
    background: #7fbccc;
    border-radius: 4vh 0 0 0;
    transform: rotate(32deg);
} 

.video-container iframe {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
}
