  <main class="main" [style.background-image]="slide.backgroundImage ? 'url(' + slide.backgroundImage + ')' : null" [style.height]="'100vh'" [style.background-size]="'cover'" [style.background-position]="'center'">

    <div class="video-container">
         <div id="youtube-player"></div>
    </div>

    <div class="thought-bubble-text">
        <p [innerHTML]="slide.text"></p>
    </div>

    <img
        src="images/tico/Tico-Derecha.gif"
        alt=""
        class="tico-img"
        (click)="toggleAudio()"
    >
</main>
