<main class="main" [style.background-image]="slide.backgroundImage ? 'url(' + slide.backgroundImage + ')' : null"
    [style.height]="'100vh'" [style.background-size]="'cover'" [style.background-position]="'center'">

    <div class="video-container">
        <div id="youtube-player"></div>
    </div>

    <div class="thought-bubble-text">
        <p class="text-white slide-text" [ngClass]="{
        'text-small': (slide.text?.length || 0) > 200,
        'text-medium': (slide.text?.length || 0) > 70 && (slide.text?.length || 0) <= 200,
        'text-large': (slide.text?.length || 0) <= 70
      }">{{ slide.text }}</p>
    </div>

    <img src="images/tico/Tico-Derecha.gif" alt="" class="tico-img" (click)="toggleAudio()" *ngIf="showTicoImage">
    <img src="images/tico/Tico-Espalda.png" alt="" class="tico-img"  *ngIf="!showTicoImage">
</main>