<div class="screen">

    <!-- Video Player -->
    @if (gamePhase === 'playing') {
    <div class="camera-container">
        @if (cameraError) {
        <div class="camera-error">
            <div class="error-icon">🎥</div>
            <p>{{cameraError}}</p>
        </div>
        } @else {
        <video #videoElement class="camera-video" controls muted playsinline>
        </video>
        <div class="camera-overlay">
            <div class="photo-counter">
                Fotos: {{currentPhotoCount}}/{{photosToCapture}}
            </div>
        </div>
        }
    </div>

    <!-- Canvas oculto para capturar pantallazos -->
    <canvas #canvasElement class="hidden-canvas"></canvas>
    }

    <!-- Camera Button -->
    @if (showCameraButton) {
    <button class="camera-button" (click)="onCameraClick()" [disabled]="currentPhotoCount >= photosToCapture">
        <div class="camera-icon">📷</div>
    </button>
    }

    @if (showAlbum) {
    <div class="camera-button">
        <button class="continue-button" (click)="continueToNextSlide()">
            Continuar
        </button>
    </div>
    }


    <!-- Photo Album -->
    @if (showAlbum) {
    <div class="album-container" [ngClass]="{ 'fade-out-animation': isFadingOut }">
        <div class="album-cover">
            <p style="display: flex; justify-content: center; font-size: 2.2vh;">Álbum de Fotos</p>
            <div class="photos-grid">
                @for (photo of capturedPhotos; track photo.id) {
                <div class="album-photo">
                    <div class="photo-frame">
                        <img class="captured-image" [src]="photo.imageData" [alt]="photo.name" />
                        <div class="photo-label">{{photo.name}}</div>
                        <div class="photo-date">{{formatDate(photo.timestamp)}}</div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    }

    <!-- Thought Bubble -->
    <div class="thought-bubble-text" [ngClass]="{ 'fade-out-animation': isFadingOut }">
        <p [innerHTML]="text"></p>
    </div>

    <!-- Tico Character -->
    @if (isAudioPlaying) {
        <img [ngClass]="{ 'fade-out-animation': isFadingOut }" src="images/tico/Tico-Derecha.gif" alt="" class="tico-img">
    }
    @if (!isAudioPlaying) {
        <img [ngClass]="{ 'fade-out-animation': isFadingOut }" src="images/tico/Tico-Izq-No-habla.gif" alt="" class="tico-img">
    }

</div>